/*** BODY ***/
body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    background-color: #1086a0;
}

hr {
    border-style: none; /* There is no border at all (The hr is unseen)*/
    border-top-style: dotted; /* Only border is the top side*/
    /* border-color: grey; */
    border-color: RGB(47, 207, 300);
    border-width: 5px; /* Sets the width of an element's border */
    width: 5%;
  }

/*** TOP-CONTAINER ***/
.top-container {
    background-color: #87CEEB;
    position: relative;
}

.description {
    position: absolute;
    top: 18%;
    left: 18%;
}

.pro {
    text-decoration: underline;
}

h1 {
    font-family: 'My Soul', cursive;
    font-size: 5.625rem;
    margin: 0 auto;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
}

.fontaine {
    width: 100%;
    height: 100%;
}

/*** MIDDLE-CONTAINER ***/
.middle-container {

}

/*** BOTTOM-CONTAINER ***/
.bottom-container {

}