/*** BODY ***/
body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    /* background-color: #2fa8e0; */
    /* background-color: #2ba8e2; */
    /* background-color: RGB(43, 200, 300); */
    /* background-color: RGB(47, 207, 300); */
    /* background-color: RGB(47, 207, 300); */
    background-color: #1086a0;
}

hr {
    border-style: none; /* There is no border at all (The hr is unseen)*/
    border-top-style: dotted; /* Only border is the top side*/
    border-color: grey;
    border-width: 5px; /* Sets the width of an element's border */
    width: 5%;
  }

/*** TOP-CONTAINER ***/
.top-container {
    /* background-color: #E4F9F5; */
    /* background-color: RGB(43, 207, 300); */
    /* background-color: RGB(47, 207, 300); */
    /* background-color: #c1daea; */
    /* background-color: RGB(43, 200, 300); */
    background-color: #fff;
    position: relative;
    padding-top: 100px;
}

.description {
    position: absolute;
    top: 25%;
    left: 25%;
}

.pro {
    text-decoration: underline;
}

h1 {
    margin-top: 0;
    font-family: 'My Soul', cursive;
    font-size: 80px;
}

.fontaine {
    width: 100%;
}

/*** MIDDLE-CONTAINER ***/
.middle-container {

}

/*** BOTTOM-CONTAINER ***/
.bottom-container {

}